@charset "utf-8";

/* CSS Document */



body {

	font-family:Verdana, Arial, Helvetica, sans-serif;

	background-color:#f9f9f9;

	margin: 0px;

}


.block {

	width:950px;

	background-color:#FFF;

	margin: auto;

}



.breadcrumbs img{

	width:8px;

	height:8px;

}



.homeB

{margin:auto; width: 25px; padding-left:7px; padding-right:9px;}


#EIC{
	margin: auto;
}

.barra{

	background-color:#DCE4EA;

	height:28px;

	width:935px;

	border:none;

}



.aba 

{font-size:13px; width:190px; text-align:center; vertical-align: middle; border:solid #DCE4EA; border-width:0px 2px 0px 2px; border-top-right-radius:9px; border-top-left-radius:9px;}

.sel

{color:#0071BC; background-color:#FFF; }

.des /* Main Product deselected */

{color:#FFF; background-color:#999; border:solid; border-width: 0px 1px 4px 1px; border-bottom-color:#666; border-left-color: #DCE4EA; border-top-color: #DCE4EA; border-right-color: #DCE4EA;}

.des:hover
{border-width: 0px 0px 6px 0px; }

.aba > a
{text-decoration:none; color:#fFf;}


.about
{font-size:9px; color:#666; text-align:right;}

.about > a
{color:#0071BC}


.thumbs-session{
    font-family: GothamNarrow-Medium;
    font-size: 14px;
    color: rgb(180,180,180);
    margin-left: 27px;
    margin-top:30px;
}

/** Menu Bar Style **/



div.navbar {

	background-color: #FFF;

	width: 950x;

	height:47px;

	margin: auto;

	font-size: 9px;

}




div.navbar div.innernavbar 

{	

	background:rgb(249,249,249);

}



div.navbar div.title {

	float: left;

	width: 318px;

	margin: 0px 3px;

	color: #0071bc;

	font-size: 12px;

	font-weight:bold;

	line-height: 42px;

	vertical-align: middle;

	text-align: left;

	padding-left: 14px;

}



div.navbar .button {

	float: left;

	margin: 11px 2px 0px 5px;

	display: inline;

	line-height: 20px;

}



div.navbar ul.submenu {

	list-style: none;

	padding: 0px;

	cursor: pointer;

}



div.navbar ul.menu {

	float: left;

	list-style: none;

	padding: 0px;

	cursor: pointer;

}



div.navbar ul.menu li.menuitem 

{

	color: #0071bc;

	border-right: 1px #ccc solid;

	border-top: 1px #ccc solid;

	border-bottom: 1px #ccc solid;

	float: left;

	padding: 5px 0px;

	margin: 0px;

	width: 170px;

	text-align: center;

	background-color: #fff;

	line-height: 12px;	

}



div.navbar ul.menu li.menuitem span {

	background-image: url(../img/right.png);

	background-repeat: no-repeat;

	background-position: right center;

	padding: 3px 18px 3px 0px;

}



div.navbar ul.menu li.index span {

	background-image: url(../img/index.png);

	background-repeat: no-repeat;

	background-position: right center;

	padding: 3px 20px 3px 0px;

}

div.navbar ul.menu li.index {
	border-left: 1px #ccc solid;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	width: 65px;
}

div.navbar ul.menu li
{
	font-size: 8pt;
}

div.navbar ul.menu li.energy {
	width: 110px;
}

div.navbar ul.menu li.electricity {
	width: 90px;
}

div.navbar ul.menu li.economics {
	width: 134px;
}

div.navbar ul.menu li.institutional {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 105px;
}



div.navbar ul.submenu {

	position: absolute;

	border-left: 1px #ccc solid;

	border-right: 1px #ccc solid;

	border-bottom: 1px #ccc solid;

	background-color: #fff;

	display: none;

	margin: 6px 0px 0px -1px;

	border-bottom-right-radius: 6px;

	border-bottom-left-radius: 6px;

	z-index: 100;

}



div.navbar ul.menu li.active span 

{

	background-image: url(../img/down.png);

}



div.navbar li.active ul.submenu

{

	display: block;

}



div.navbar ul.submenu li {

	color: #999;

	width: 162px;

	padding: 8px 5px;

	font-weight: normal;

	font-size: 11px;

	border-top: 1px #eee solid;

}



div.navbar ul.submenu li.first {

	margin-top: 0px;

}



div.navbar ul.submenu li.last {

	margin-bottom: 6px;

}



div.navbar ul.submenu li:hover {

	background-color:#0071bc;

	color:#fff;

}



div.navbar ul.submenu li.selected {

	background-color: #e1e1e1;

}


div.video img{
	width:884px;
	margin:auto;
	margin-top:25px;
	margin-bottom: 25px;
	border: 1px solid rgb(204, 204, 204);
}


.breadcrumbs {

	float:right;

}

.breadcrumbs a {

	padding:0px 3px;

}



.button img {

	vertical-align:middle;

	height:18px;

	width:18px;

	padding-left: 0px;

}





.button a

{

	color:#0071BC;

	padding-left: 2px;

	color:#1B75BB;

	font-size:10px;	

	vertical-align:middle;	

	line-height:20px;

}



.button span

{

	color:#0071BC;

	padding-left: 2px;

	color:#1B75BB;

	font-size:9px;	

	vertical-align:middle;	

	line-height:18px;

}



.share span

{

	color:#0071BC;

	padding-left: 2px;

	color:#1B75BB;

	font-size:10px;	

	vertical-align:middle;	

	line-height:18px;

}





.UnitLegend {

	fill: #333;

	font: bold 10px arial,helvetica,sans-serif;

}



.sharebox {

	border: 1px solid #E1e1e1;

	border-radius:5px;

	padding: 8px 6px;

	display:inline;

	margin-bottom:10px;

}



.shareIcon{

	width:22px;

	height:22px;

	margin:2px 2px;

	vertical-align:middle;

}



ul.submenu li {

	border-bottom: none;

}



g.imageInformation text {

	font-size: 10px;

}



text.sourceURL

{

	visibility: hidden;

}



