#thechart text
{
    text-anchor:middle;
}

#energyText
{
  font-family: 'verdana';
  fill:'black';
  font-size: 14px;
}

#energyRankText
{
  font-family: 'verdana';
  fill:'black';
  font-size: 14px;
}

#guideText
{
  font-family: 'verdana';
  font-weight: 'normal';
  fill:'black';
  font-size: 15px;
}

#quintileGuideText
{
  font-family: 'verdana';
  font-weight: bold;
  fill:'black';
  font-size: 13px;
}

#percentText
{
  font-family: 'verdana';
  font-size: 14px;
  fill:rgb(119, 119, 119);
}

#percentRectText
{
  font-family: 'verdana';
  font-size: 12px;
  fill:rgb(119, 119, 119);
}

#rankText
{
  fill:'black';
  font-family: 'verdana';
  font-size: 14px;
}

.d3-tip
{
  display: inline;
  position: relative;

  color: #000000;
  background: #FFFFFF;
  line-height: 12px;
  visibility: visible;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px #191919;
  text-align: center;
  font-family: helvetica, arial;
  font-size: 12px;
  padding: 4px;
}

.d3-tip table {
  padding: 0px;
}
#percentGuideLine
{
 stroke:rgb(119, 119, 119);
 stroke-width:0.3;
}

#percentLine
{
 stroke:rgb(119, 119, 119);
 stroke-width:1;
}

.tipLine
{
  opacity : 1;
  stroke : rgb(0, 0, 0);
  stroke-width : 1;
}

.incomeRect
{
    fill : rgb(109,122,140);
    stroke : rgb(0,255,0);
    stroke-width : 0;
}

.percentRect
{
    fill : rgb(0,0,0);
    stroke : rgb(0,255,0);
    stroke-width : 0;
}

.energyRect
{
    fill : rgb(254,223,0);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.electricityRect
{
    fill : rgb(204,153,0);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.electricityPercentRect
{
    fill : rgb(237,219,166);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.gasRect
{
    fill : rgb(244,81,37);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.gasPercentRect
{
    fill : rgb(251,194,179);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.othersRect
{
    fill : rgb(155,153,204);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.othersPercentRect
{
    fill : rgb(220,219,237);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.rankRect
{
    fill : rgb(207,219,235);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.rankTriangle
{
    fill : rgb(207,219,235);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.rankGapRect
{
    fill : rgb(231,237,245);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.transportRect
{
    fill : rgb(13,102,110);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}

.transportPercentRect
{
    fill : rgb(171,202,204);
    stroke : rgb(255,255,255);
    stroke-width : 0;
}
